In [4]:
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [20]:
df = pd.read_csv("~/dev/interpretable-ml-book/datasets/hand_height/handheight.txt", sep="\t")
df = df[['Height','HandSpan']]
x = df['Height'].to_numpy()
y = df['HandSpan'].to_numpy()

In [29]:
model = ols('Height ~ C(HandSpan)', data=df).fit()
anova_table = sm.stats.anova_lm(model, typ=3)
anova_table

                  sum_sq     df           F        PR(>F)
Intercept    3249.000000    1.0  419.422774  4.908555e-45
C(HandSpan)  1596.301374   18.0   11.448397  4.701672e-20
Residual     1146.461350  148.0         NaN           NaN

In [15]:
df = pd.read_csv("https://reneshbedre.github.io/assets/posts/anova/onewayanova.txt", sep="\t")
# reshape the d dataframe suitable for statsmodels package 
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['A', 'B', 'C', 'D'])
# replace column names
df_melt.columns = ['index', 'treatments', 'value']

In [19]:
df_melt

    index treatments  value
0       0          A     25
1       1          A     30
2       2          A     28
3       3          A     36
4       4          A     29
5       0          B     45
6       1          B     55
7       2          B     29
8       3          B     56
9       4          B     40
10      0          C     30
11      1          C     29
12      2          C     33
13      3          C     37
14      4          C     27
15      0          D     54
16      1          D     60
17      2          D     51
18      3          D     62
19      4          D     73

In [18]:
model = ols('value ~ C(treatments)', data=df_melt).fit()